@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('/fonts/NothingYouCouldDo/NothingYouCouldDo.eot');
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.woff') format('woff'),
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.ttf')  format('truetype'),
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.svg') format('svg');
}
body{
    font-family: NothingYouCouldDo;
    font-size: 0.7em;
}
header{
    width: 100%;
    text-align: center;
}
.logo{
    height: 60px;
}
footer{
    width: 99%;
    text-align: center;
    font-size: 0.9em;
    clear: both;
}
section{
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    width: 300px;
    background-color: #147b9f;
    height: 506px;
    margin: 0 auto;
    border-radius: 10px;
}
.display{
    padding: 0 17px;
    vertical-align: middle;
    line-height: 63px;
    font-size: 3.25em;
    min-height: 63px;
    margin: 30px 27px 30px 25px;
    background-color: #ededed;
    border-radius: 9px;
}
.buttons{
    padding: 0 10px;
}
.button{
    background-color: #7d0031;
    border: none;
    border-radius: 32px;
    margin: 12px;
    height: 64px;
    width: 64px;
    font-size: 3.25em;
    font-family: NothingYouCouldDo;
    color: white;
}
.button:focus{
    outline: 0;
}