@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('/fonts/NothingYouCouldDo/NothingYouCouldDo.eot');
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.woff') format('woff'),
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.ttf')  format('truetype'),
    url('/fonts/NothingYouCouldDo/NothingYouCouldDo.svg') format('svg');
}
body{
    font-family: NothingYouCouldDo;
    font-size: 0.7em;
}
header{
    width: 100%;
    text-align: center;
}