@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('../fonts/NothingYouCouldDo/NothingYouCouldDo.eot'),
    url('../fonts/NothingYouCouldDo/NothingYouCouldDo.woff') format('woff'),
    url('../fonts/NothingYouCouldDo/NothingYouCouldDo.ttf')  format('truetype'),
    url('../fonts/NothingYouCouldDo/NothingYouCouldDo.svg') format('svg');
}
body{
    min-width: 310px;
    font-family: NothingYouCouldDo;
    font-size: 0.9em;
    overflow-x: hidden;
}
header{
    width: 100%;
    text-align: center;
}
.logo{
    height: 60px;
}
footer{
    width: 99%;
    text-align: center;
    font-size: 0.9em;
}
section{
    min-height: 510px;
    height: 80vh;
    display: -webkit-box;      /* Fix for old iOS 6, Safari 3.1 */
    display: -ms-flexbox;      /* Fix for IE 10 */
    display: -moz-box;         /* Fix for Firefox 19 */
    display: -webkit-flex;     /* Fix for IOS 8 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    width: 300px;
    background-color: #147b9f;
    height: 506px;
    margin: 0 auto;
    border-radius: 10px;
}
.display{
    padding: 0 17px;
    vertical-align: middle;
    line-height: 63px;
    font-size: 3.25em;
    min-height: 63px;
    margin: 30px 27px 30px 25px;
    background-color: #ededed;
    border-radius: 9px;
    overflow: hidden;
}
.buttons{
    padding: 0 10px;
}
.button{
    background-color: #7d0031;
    border: none;
    border-radius: 50%;
    margin: 12px;
    height: 64px;
    width: 64px;
    min-width: 64px;    /* Fix for IOS 9+ */
    max-width: 64px;    /* Fix for IOS 9+ */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 26px;
    font-family: NothingYouCouldDo;
    line-height: 26px;
    color: white;
}
.button:focus{
    outline: 0;     /* Fix for chrome, chromium */
}
.button:hover{
    border: solid 3px rgba(255,255,255,0.9);
}
.button:active{
    background-color: #500521;
    border: solid 3px rgba(255,255,255,0.9);
}

